.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
}

.main-btn {
  padding: 40px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: 0.2s;
}

.main-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.main-btn:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}